<!DOCTYPE html>
<html>
<head>
  <title>SSD Application</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <style type="text/css">
    .Site {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    .site-content {
      flex: 1;
      margin: 30px auto;
    }
  </style>
</head>
<body class="Site">
  <div class="ui inverted menu">
    <a class="active item", href="/">
      Home
    </a>
    <a class="item">
      Profile
    </a>
    <div class="right menu">
      <a class="item">
        Register
      </a>
      <a class="item">
        Log In
      </a>
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search tag...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui center aligned container site-content">
    <div class="ui center aligned three column stackable grid">
      <div class="row">
        <form class="ui form" enctype="multipart/form-data" action="{{ url_for('main.index') }}" method="POST">
          <div class="field">
            <input
              name="image_file"
              type="file"
            />
          </div>
          <div class="field">
            <input
              name="image_url"
              type="text"
              placeholder="Enter an image URL"
            />
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input name="is_private" type="checkbox">
              <label>Private</label>
            </div>
          </div>
          <button
            class="ui primary button"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
      {% for image in images %}
        <div class="column">
          <div class="ui card" style="margin: auto;">
            <div class="image">
              <img src="{{ url_for('main.image_link', filename=image.name) }}" alt="Some image here" />
            </div>
            <div class="content">
              <div class="header">{{ image.name }}</div>
              <div class="meta">Uploaded at: {{ image.uploaded_at }}</div>
              <div class="description">May contain:
                {% if image.boxes.count() > 0 %}
                  {% for box in image.boxes %}
                  <div class="ui label" style="background-color: #11ee66;">
                    {{ box.label }}
                  </div>
                  {% endfor %}
                {% else %}
                  <div class="ui label">nothing</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <p>Created by Trung Tran@MachineTalk.org</p>
    </div>
  </div>
</body>
</html>