html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  text-align: center;
}

.nav {
  background: #121212;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-row {
  width: 100%;
}

.grid-item {
  width: 30%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.nav-header {
  font-size: 2.5rem;
  font-weight: 400;
  color: #FEFEFE;
  transform: skew(-7deg);
  flex: 2;
}

.space-around {
  justify-content: space-around;
}

.space-vertical {
  margin: 10px auto;
}

.nav-link {
  position: relative;
  padding: 10px;
  flex: 1;
  line-height: 30px;
}

.nav-link::before {
  content: '';
  width: 1px;
  background: white;
  height: 100%;
  left: 0;
  position: absolute;
  transform: skew(-20deg);
  top: 0;
  bottom: 0;
}

.nav-link > a {
  text-decoration: none;
  color: #FEFEFE;
  font-weight: 500;
}

.nav-link > a:hover {
  color: rgb(255, 28, 28);
  font-weight: bold;
}

.image-nav {
  margin: 30px auto;
}

.image-nav-link {
  padding: 10px;
  width: 50%;
  text-align: center;
}

.image-nav-link:first-child {
  border-right: 1px solid #C6C6C6;
}

.image-nav-link.active {
  border-top: 1px solid #C6C6C6;
}

.image-nav-link:first-child.active {
  border-left: 1px solid #C6C6C6;
}

.image-nav-link:not(.active) {
  border-bottom: 1px solid #C6C6C6;
}

.image-nav-link:last-child.active {
  border-right: 1px solid #C6C6C6;
}

.image-nav-link:hover {
  cursor: pointer;
}

.image-large {
  border-radius: 8px;
}

.half-width-item {
  width: 45%;
}

.one-forth {
  width: 20%;
}

.input-field > input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background: #FEFEFE;
  color: #121212;
  font-weight: 400;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.form > * {
  margin-bottom: 10px;
}

.input-field-dark > input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background: #121212;
  color: #FEFEFE;
  font-weight: 400;
}

.input-field-dark > input:focus {
  background: #FEFEFE;
  color: #121212;
  box-shadow: outset 0 1px 2px rgba(0, 0, 0, 0.45);
}

.button {
  padding: 8px;
  margin: 10px;
  box-shadow: none;
  border-radius: 5px;
  border-color: transparent;
  outline: none;
  font-size: 1.6rem;
}

.button:hover {
  cursor: pointer;
}

.button.circular {
  border-radius: 20px;
  padding: 8px 12px;
}

.red {
  background: rgb(255, 28, 28);
  color: #FEFEFE;
}

.primary {
  background: #269f42;
  color: #FEFEFE;
}

.text-center {
  text-align: center;
}

.center {
  justify-content: center;
}

.content svg {
  margin: 5px;
}

.container {
  max-width: 80%;
}

.card {
  border: 1px solid #47454588;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(90, 89, 89, 0.25);
  margin: 20px auto;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card > .content {
  padding: 5px;
}

.card .description {
  line-height: 3rem;
}

.card .extra-content {
  border-top: 1px solid #C6C6C6;
  padding: 5px;
  color: #646363;
  font-style: italic;
}

span.label {
  padding: 4px;
  border-radius: 3px;
  border: none;
  background: #11ee66;
  margin: auto 5px;
}

.box-coord {
  padding: 5px 10px;
  color: maroon;
  letter-spacing: 0.2rem;
  background: powderblue;
  border-radius: 4px;
  margin: 5px;
}

.box-label {
  color: firebrick;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  font-weight: 800;
}

.footer-dark {
  background: #121212;
  color: #FEFEFE;
}

.segment {
  padding: 10px;
  border: 1px solid rgba(90, 89, 89, 0.25);
  border-radius: 8px;
  margin-bottom: 20px;
}

.header {
  font-weight: 800;
}

.message {
  padding: 10px;
  border-radius: 8px;
  margin: 40px;
}

.error {
  background: rgba(255, 28, 28, 0.02);
  border: 1px solid rgb(255, 28, 28);
  color: firebrick;
}

.success {
  background: #cef7d8;
  border: 1px solid #269f42;
  color: #269f42;
}

.loader {
  margin: 20px auto;
}

@media (max-width: 800px) {
  .flex-center {
    flex-direction: column;
    justify-content: stretch;
  }
  .nav-header {
    margin: 20px auto;
  }
  .nav-link::before {
    content: none;
  }
  .grid-item {
    width: 100%;
    margin: 10px auto;
  }
  .row {
    flex-direction: column;
  }
  .row > * {
    margin: 10px auto;
  }
  .half-width-item {
    width: 100%;
  }
  .one-forth {
    width: 100%;
  }
  .image-nav-link:first-child.active {
    border-left: none;
    border-bottom: 2px solid rgb(255, 28, 28);
  }
  .image-nav-link:last-child.active {
    border-right: none;
    border-bottom: 2px solid rgb(255, 28, 28);
  }
  .image-nav-link.active {
    border: none;
  }
  .image-nav-link:not(.active) {
    border: none;
  }
}